@font-face {
    font-family: Pokemon;
    src: url('../fonts/pokemonsolid.woff');
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: Raleway;
}

* {
    font-size: 15px;
}

body {
    background: url("../images/laptop_background.jpg") no-repeat fixed;
    color: white;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-heading {
    font-family: Pokemon;
    font-style: normal;
    font-weight: normal;
    line-height: 140px;
    width: 100%;
    margin: auto;
    text-align: center;
    /* identical to box height */
    color: #FFD600;
    margin-top: 40px;
}

h1 {
    font-size: 5rem;
    margin-block-start: 0%;
}

.thumb p {
    margin-top: 10px;
}

.container {
    text-align: center;
    font-size: 15px;
    align-items: center;
}

.thumb {
    width: 140px;
    height: 140px;
}

img {
    border-radius: 50%;
}

img {
    border: 3px solid aqua;
}

.ctms {
    width: 60%;
    margin: 3rem auto;
}

.names {
    font-size: 2rem;
}

.names-coordies {
    font-size: 1.5rem;
}

.names,
.names-coordies {
    margin: -1.5rem auto;
}

.coordies {
    margin: 3rem auto;
}

.coordies div {
    margin: 1rem auto;
}

.photos {
    width: 10rem
}

.main-heading h1 {
    font-family: Pokemon;
}

@media only screen and (min-width: 992px) {
    .laptop {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    /* .thumb {
        width: 150px;
        height: 150px;
        object-fit: cover; 
    } */
    #mobh1 {
        transform: translateY(20%);
    }
    #mobh2 {
        transform: translateY(20%);
    }
    #mob-int1 {
        transform: translateY(60%);
    }
    #mob-int2 {
        transform: translateY(60%);
    }
    .mobile {
        display: none;
    }
    .body {
        background: url("../images/mobile_background.jpg") no-repeat fixed;
        color: white;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-heading {
        font-size: 2rem;
    }
    * {
        font-size: 12px;
        text-align: center;
    }
    ;
    img {
        border: 2px solid black;
    }
    .thumb {
        width: 100px;
    }
}

;
img {
    border: 2px solid black;
}

.thumb {
    width: 100px;
}

.photos {
    width: 7rem;
}

@media only screen and (max-width:600px) {
    .ctms {
        width: 70%;
    }
}