{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>FAQ</title>
    <link rel="icon" type="image/png" href="{% static 'images/favIcon.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/faq.css" />
</head>

<body>

    <h1 class='main-heading'>FAQs</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1. What is SARCasm?
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    SARCasm is an online cryptic quiz organized by the Student Alumni Relations Cell. The participants are required to answer questions, riddles or puzzles, with the key being something related to our institute. It aims to introduce freshmen to life at the institute, or more fondly, the “insti life” and offers a multitude of exciting prizes as rewards. Participants have a 48 hour window to solve around 50 questions related to insti life whose answers range from places, to ‘insti lingo’, alumni and anything you can think of as long as it’s related to insti! Pokemon is only the theme for this year’s SARCasm, no questions will be related to the franchise.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2. What is the allowed Team Size for SARCasm?
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    This year, we are flexible with the size of the teams with the constraint that a team of anywhere between 2-5 members, including the team leader, is allowed.

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3. What is the Last Date for registering for SARCasm?
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    While we have no hard deadline for registrations, we suggest that you register before the beginning of the 48 hours in which the questions are available so that you can gain access to and begin solving the questions. Registration before Saturday, 22nd January 2022, is recommended in order to have the best experience solving the questions.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4. Who all are allowed to register for SARCasm?
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Owing to the many requests we have received, SARCasm is now open to register for Seniors as well as the previously allowed Freshers of IIT Bombay. Participants are required to select the Fresher or Senior team option in registration as applicable. Although it is not required that students team up with their own batchmates, note that even if a single member in the team is a senior, the team is considered to be in the Senior category. While there will be a common leaderboard active during the competition, the prizes at the end will be given considering separate rank lists of seniors and freshers i.e. Fresher’s prizes are irrespective of the performance of Senior teams.


                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    5. When will the questions go live?
                    
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    The 48-hour crypt hunt will go live on Friday 21nd January 10PM and will end on Sunday 23rd January 10PM. 
Also stay tuned to our <a href="https://www.instagram.com/sarc_iitb/">Instagram Page</a> for BONUS questions and HINTS which would go live only for short intervals during the 48-hour event.

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>