<!DOCTYPE html>
<html>
    <head>
        <title>FAQ Test</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/faq.css" />
    </head>
    <body>  
<h2>FAQ</h2>
<button class="accordion" onclick="changeimg(1)">
    <div class="faq-row" style="font-size: 2rem;">
        <img src="static/images/mario.svg" class="faq-img" id="faq-img1">
        How can you participate?
    </div></button>
<div class="panel">
<p style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<br>
<button class="accordion" onclick="changeimg(2)">
    <div class="faq-row" style="font-size: 2rem;">
        <img src="static/images/mario.svg" class="faq-img" id="faq-img2">
        How can you participate?
    </div></button>
<div class="panel">
<p style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<br>
<button class="accordion" onclick="changeimg(3)">
    <div class="faq-row" style="font-size: 2rem;">
        <img src="static/images/mario.svg" class="faq-img" id="faq-img3" >
        How can you participate?
    </div></button>
<div class="panel">
<p style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<br>
<button class="accordion" onclick="changeimg(4)">
    <div class="faq-row" style="font-size: 2rem;">
        <img src="static/images/mario.svg" class="faq-img" id="faq-img4" >
        How can you participate?
    </div></button>
<div class="panel">
<p style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<br>
<button class="accordion" onclick="changeimg(5)" >
    <div class="faq-row" style="font-size: 2rem;">
        <img src="static/images/mario.svg" class="faq-img" id="faq-img5">
        How can you participate?
    </div></button>
<div class="panel">
<p style="padding: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;
var str;
function changeimg(x)
{
    const fimg = ["faq-img1","faq-img2","faq-img3","faq-img4","faq-img5"];
    console.log(x);
    str=fimg[x-1];

}
for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function() {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.maxHeight) {
    document.getElementById(str).src = "static/images/mario.svg";
panel.style.maxHeight = null;
} else {
    document.getElementById(str).src = "static/images/laptop_navbar.jpg";
panel.style.maxHeight = panel.scrollHeight + "px";
} 
});
}
</script>
<br> 
</body>  
</html>
  
 
  