<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/leaderboard.css" />
    <title>Leaderboard</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
</head>

<body>
    <h1 class='main-heading'>Leaderboard</h1>
    <form action="" method='post'>
        {% csrf_token %}
        <div class="options">
            <div class="option faded" id="option1">
                <input type="radio" name="league" id="freshies_only" unchecked="unchecked" value="Freshies Only">
                <div class="pokeball unselected">
                    <div class="upper-half"> </div>
                    <div class="lower-half"> </div>
                    <div class="base"> </div>
                    <div class="inner-circle"> </div>
                    <div class="indicator visible"> </div>
                    <div class="indicator-inner"> </div>
                </div>
                <div class="radio-options">Freshie Only</div>
            </div>
            <div class="option faded" id="option2">
                <input type="radio" name="league" id="open" unchecked="unchecked" value="Open">
                <div class="pokeball unselected">
                    <div class="upper-half"> </div>
                    <div class="lower-half"> </div>
                    <div class="base"> </div>
                    <div class="inner-circle"> </div>
                    <div class="indicator visible"> </div>
                    <div class="indicator-inner"> </div>
                </div>
                <div class="radio-options">Open</div>
            </div>
        </div>
        <div>
            <div style="text-align: center; margin: 2rem 0; width: 100%;">
                <input type="submit" value="Show" class="btn" style="width:auto">
            </div>
        </div>
    </form>
    <div class="table-responsive table-container">
        <table class="table table-bordered leaderboard">
            <tbody>
                {% for team in top_teams %}
                <tr>
                    <th scope="row" class="rank">{{forloop.counter}}</th>
                    <td class="logo"><img src="static/pokemons/{{team.team_logo}}.png" alt="" class="logo img-fluid"></td>
                    <td class="team-name">
                        {{ team.team_name }}
                        <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="static/images/pokeball_closed.png" alt="">
                        </button>
                        <ul class="member-names dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                            {% if team.player1 %}
                            <li>{{team.player1}}</li>
                            {% endif %} {% if team.player2 %}
                            <li>{{team.player2}}</li>
                            {% endif %} {% if team.player3 %}
                            <li>{{team.player3}}</li>
                            {% endif %} {% if team.player4 %}
                            <li>{{team.player4}}</li>
                            {% endif %}

                        </ul>
                    </td>
                    <td class="score">{{ team.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        const options = ["option1", "option2"];

        options.forEach(option => {
            document.getElementById(option).addEventListener("click", function() {
                const pokeballs = document.getElementsByClassName("pokeball");
                for (var i = 0; i < pokeballs.length; i++) {
                    pokeball = pokeballs[i];
                    if (pokeball.parentNode.id != option) {
                        pokeball.classList.remove("selected");
                        pokeball.parentNode.classList.add("faded");
                    } else {
                        pokeball.classList.add("selected");
                        pokeball.parentNode.classList.remove("faded");
                    }
                }
                freshie_div = document.getElementById("option1")
                open_div = document.getElementById("option2")
                freshies_only = document.getElementById("freshies_only")
                open = document.getElementById("open")
                if (freshie_div.classList.contains("faded")) {
                    open.checked = true
                    freshies_only.checked = false
                    console.log("Open")
                } else if (open_div.classList.contains("faded")) {
                    freshies_only.checked = true
                    open.checked = false
                    console.log("Freshies only")
                } else {
                    console.log("none selected")
                }

            });
        });
    </script>
</body>

</html>