<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/ourteam.css" />
    <title>Document</title>
</head>
<body>
    <div class="main-heading">
        <h1>OUR TEAM</h1>
    </div>

    <div class="container">

        
            <div class="row">
                <div class="col-xs-2 col-lg-4"></div>
                <div class="col-xs-5 col-lg-2">
                    <div class="thumb">
                    <img src="../../static/images/Aruja Khanna.jpg" alt="Member's thumbnail">
                    <p>Aruja Khanna</p>
                    <p>DESIGNATION</p>
                    </div>
                </div>
                <div class="col-xs-5 col-lg-6">
                    <div class="thumb">
                    <img src="../../static/images/Aryansh Kabra.jpg" alt="Member's thumbnail">
                    <p>Aryansh Kabra</p>
                    <p>DESIGNATION</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>


            <div class="row">
                <div class="col-xs-4 col-lg-2"></div>
                <div class="col-xs-8 col-lg-2">
                    <div class="thumb">
                    <img src="../../static/images/Eknoor_Singh.jpg" alt="Member's thumbnail">
                        <p>Eknoor Singh</p>
                        <p>DESIGNATION</p>
                    </div>
                </div>
                <div class="col-xs-7 col-lg-2">
                    <div class="thumb">
                        <img src="../../static/images/Kartik Laddha.jpg" alt="Member's thumbnail">
                        <p>Kartik Laddha</p>
                        <p>DESIGNATION</p>
                    </div>
                </div>
                <div class="col-xs-5 col-lg-2">
                    <div class="thumb">
                        <img src="../../static/images/Rachit Merani.jpg" alt="Member's thumbnail">
                        <p>Rachit Merani</p>
                        <p>DESIGNATION</p>
                    </div>
                </div>
                <div class="laptop">
                    <div class="row"></div>
                    <h2> </h2>
                </div>
                <div class="col-xs-7 col-lg-2" id="mob-int1">
                    <div class="thumb">
                        <img src="../../static/images/Radhika Bakshi.jpeg" alt="Member's thumbnail">
                        <p>Radhika Bakshi</p>
                        <p>DESIGNATION</p>
                    </div>
                </div>
                <div class="laptop">
                <div class="col-xs-5 col-lg-0" id="mob-int2">
                    <div class="thumb">
                        <img src="../../static/images/Sanya Arora.jpg" alt="Member's thumbnail">
                        <p>Sanya Arora</p>
                        <p>DESIGNATION</p>
                    </div>
                </div>
                </div>
    
            </div>
        

        <br> <br>
        <div class="mobile">
        <br>
        </div>
        <div class="row">
            <div class="col-xs-2 col-lg-3"></div>
            <div class="col-xs-3 col-lg-2" id="mobh1" style="transform: translateY(45%);">
                <div class="thumb">
                    <img src="../../static/images/Sakshi Priya.jpg" alt="Member's thumbnail">
                    <p>Sakshi Priya</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="col-xs-4 col-lg-2" id="mobh2" style="transform: translateY(45%);">
                <div class="thumb">
                    <img src="../../static/images/Sanskriti Agarwal.jpg" alt="Member's thumbnail">
                    <p>Sanskriti Agarwal</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="mobile">
            <div class="col-xs-5 col-lg-2" style="transform: translateY(40%);">
                <div class="thumb">
                    <img src="../../static/images/Sanya Arora.jpg" alt="Member's thumbnail">
                    <p>Sanya Arora</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            </div>
            <div class="col-lg-3"></div>

        </div>
        </div>
            
        
        
</body>
</html>
