<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/ourteam.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <h1>OUR TEAM</h1>
    </header>

    <div class="laptop">

        <div class="team-area">
            <div class="team-1">
                <div class="team-member">
                    <div class="thumb">
                        <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                        <p>NAME</p>
                        <p>DESIGNATION</p>

                    </div>
                </div>
                <div class="team-member">
                    <div class="thumb">
                        <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                        <p>NAME</p>
                        <p>DESIGNATION</p>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <br>
        <div class="team-area">
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="team-area">
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Member's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
            <div class="team-member">
                <div class="thumb">
                    <img src="static/images/Dhairya_Jain.jpg" alt="Memeber's thumbnail">
                    <p>NAME</p>
                    <p>DESIGNATION</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>