{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://kit.fontawesome.com/3aab0d0a4c.js" crossorigin="anonymous"></script>
    <title>Sarcasm base</title>
    <style>
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/base.css" />
</head>

<body>
    <!-- <nav>
        <div class="navbar-ele"><a href="#"><img src="static/images/laptop_navbar.jpg" id="navbar-img"></a></div>
    <nav>
        <div class="navbar-ele" id="ham">
            <a href="#"><img src="static/images/laptop_navbar.jpg" id="navbar-img"></a>
        </div>
        <div class="navbar-ele"><a href="#">Quiz</a></div>
        <div class="navbar-ele"><a href="#">Leaderboard</a></div>
        <div class="navbar-ele"><a href="#">FAQs</a></div>
        <div class="navbar-ele"><a href="#">Team</a></div>
        <div class="navbar-ele"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></div>
        <div class="navbar-ele"><a href="#"><i class="fab fa-facebook fa-2x"></i></a></div>
    </nav> -->
    <nav class="navbar">
        <a href="#" class="toggle-button">
            <img src="static/images/laptop_navbar.jpg" style="height: 60px;transform: translateY(10px);width:45px;">
        </a>
        
         <!-- <div class="brand-title"><img src="2 3.jpg" id="navbar-img"></div>   -->
         <!-- <img src="2 3.jpg" id="navbar-img"> -->
        <!-- <a href="#" class="toggle-button">
           <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <img src="2 3.jpg">
        </a> -->
        <div class="navbar-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quiz</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
          </ul>
        </div>
      </nav>
      <script>
          var click=0;
        const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]
    
    toggleButton.addEventListener('click', () => {
    click++;
    console.log(click);
    navbarLinks.classList.toggle('active')
    if(click%2==1)
    toggleButton.style.transform="translateX(-2px)";
    if(click%2==0)
    toggleButton.style.transform="translateY(-10px)";
    })
    if(navbarLinks.classList.contains('active'))
    {
    console.log("Hello");
    toggleButton.style.transform="translateY(-40px)";  
    }
    //toggleButton.style.transform="translateY(-60px)";
    </script>
      
      
     
      
      
      
      
      
    <h1 class='main-heading'>SARCasm</h1>
    <div id="gen-info-section" class="blur-back">
        <div id="gen-info">General info about the event</div>
    </div>
    <br>
    <br>
    <div id="reg-heading" class="blur-back">
        <h1>Register</h1>
    </div>
    <br>
    <br>
    <div id="reg-section" class="blur-back">
        <div id="reg-section-content">
            <form action="" method="POST" id="reg-form">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <label>Leader Name</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="leader_name">
                        </div>
                        <div class="col-lg">
                            <label for="">Team Player 1</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="player1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <label>Leader Roll Number</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="leader_roll_number">
                        </div>
                        <div class="col-lg">
                            <label for="">Team Player 2</label>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="player2">
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                <label>Year of Study</label>
                            </div>
                            <div class="col-lg">
                                <input type="text" name="year_of_study" id="">
                            </div>
                            <div class="col-lg">
                                <label for="">Team Player 3</label>
                            </div>
                            <div class="col-lg">
                                <input type="text" name="player3" id="">
                            </div>
                            <div class="row">
                                <div class="col-lg">
                                    <label>Team Name</label>
                                </div>
                                <div class="col-lg">
                                    <input type="text" name="team_name" id="">
                                </div>
                                <div class="col-lg">
                                    <label for="">Team Player 4</label>
                                </div>
                                <div class="col-lg">
                                    <input type="text" name="player4" id="">
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <label>Team Logo</label>
                                    </div>
                                    <div class="col-lg">
                                        <input type="text" name="team_logo" id="">
                                    </div>
                                    <div class="col-lg">
                                    </div>
                                    <div class="col-lg">
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col" style="text-align: center; margin: 20px;">
                                        <input type="submit" value="Submit" id="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>